*{
  padding: 0;
  margin: 0;
}


body{
  background-color:#D6E8D6;
  width: 200p;
  height: 900px;
  /* border: 1px solid red; */
  padding-left: 30px;
  padding-right: 30px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: solid black; */
  min-height: 70px;
  color: rgb(230, 26, 196) ;
 
}
span{
  font-size: 30px;
}
section{
  display: flex;
  gap: 30px;
  margin-top: 15px;


}

a{
  width: 100px;
  padding: 10px;
  text-align: center;
}
a:hover{
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.navside{
  display: flex;
  justify-content: space-between;
  gap: 70px;
  margin-right: 30px;
}

h2{
  margin-left: 40px;
  
}


.container{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  text-align: center;
  min-height: calc(100vh-70px);

  /* border: solid black; */
}

.page{
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

img{
  width: 500px;
  height: auto;
  border-radius: 5px;
}
p{
  font-style:italic;
  color: black;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 40px;
}
h1{
  color: black;
  font-size: bold;
  margin-left: 30px;
}

.img1{
  width: 80px;
  height: 120px;
}